Brotli
certifi
chardet
click
dash
dash-core-components
dash-dangerously-set-inner-html
dash-html-components
dash-renderer
dash-table
docopt
filelock
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mosestokenizer
nltk
numpy
openfile
packaging
plotly
pyparsing
regex
requests
retrying
sacremoses
sentencepiece==0.1.96
six
tokenizers
toolwrapper
torch
tqdm
transformers
uctools
urllib3
Werkzeug
